.c22{
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    height: 300px;
    background-color: white;
}
.bttn{
    margin-left: 20px;
    width: 80px;
    height: 50px;
    color: palevioletred; 
}

.i{

    margin-left: 20px;
  }
  
.i1{
    color: palevioletred; 
    margin-left: 20px;
  }

.bttnlab{
    color: black; 
    margin-left: 20px;
}

.doc{
    margin-left: 40px 40px 40px 40px;
}